/**TODO:
 * Pass through auto-prefixer
 * 
 * ?Add links to the header? JS
 * Resize the images with media queries
 * Find a style for button:hover
 * Find a style for the footer 
 * find a style to separate the sections + news
 */

*
{ box-sizing: border-box; }

 td
{ text-align: center; }

/** Fonts ──────────────────────────────────────────────────────────────── */
@font-face {
    font-family: 'luxi_sansregular';
    src: url('../fonts/Luxi-Sans/luxisr-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'luxi_sansitalic';
    src: url('../fonts/Luxi-Sans/luxisri-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

/* General Styling ─────────────────────────────────────────────────────────────── */

html, button, input, select, textarea,
.pure-g [class *= "pure-u"] {
    font-family: "Open Sans", sans-serif;
}

.pure-img
{ 
    border-radius: 2px; 
    box-shadow: 0 0 8px -3px rgba(15, 15, 15, 0.49);

    height: 100%;
}

body > section
{
    padding: 0 2.5%;
    margin: 0 auto;
}

@media screen and (min-width: 48em){
    body > section
    {
        width: 80%;
        margin: 0 auto;
    }
}

.content
{
    padding: 0 10px;
}

.container
{
    margin-bottom: 15px; 
}

@media screen and (min-width: 48em){
    .container
    {
        margin-bottom: 0;
    }
}
/** Fonts Styling ───────────────────────────── */
h3 , h4
{ font-weight: 600; }

.suit-h2
{
    margin-top: 0; 
}

h2 {font-size: 1.2em;}
h3 {font-size: 1em;}
h4, .pure-button, button, input, select, textarea
{font-size: .9em;}
p, ul 
{ font-size: .875em; }

/* General Styling End ------------------------------------------------------ */

/* Specific Styling ────────────────────────────────────────────────────────────── */

/* Header Styling ─────────────────────────────────────────────── */

#logo
{
    width: 70px; 
    max-height: 100px;
    padding: 2px;
    padding-right: 0;
 }

header
{
    background: #2d2d2d;
    background: linear-gradient(to bottom, #0F0F0F, #1C1C1C);
    max-height: 100px;
    z-index: 10;
    position: relative;

    display: flex;
    justify-content: center;
    align-items: center;

    box-shadow: 0 1px 4px 0 rgba(68, 61, 60, 0.70);
}

#header-title
{
    color: #BD0A0A;
    font: .9em  'luxi_sansitalic', sans-serif;
    padding-left: 7px;
}

#first-letter-header /** fixes chrome weird bug*/
{ 
    border-bottom: 1px solid #F1F1F1;
}

#header-title span
{
    color: #F1F1F1;
    font: 1.3rem 'luxi_sansregular', sans-serif;
    
}

@media screen and (min-width: 630px)
{
    #logo
    { width:80px; }

    #header-title
    {
        font-size: 1em;
    }

    #header-title span
    {
        font-size: 1.4rem;
    }
}

/* Header Styling End ------------------------------------- */

#hero-title
{ 
    color: rgba(0, 0, 0, 0.47);
    font: 1em 'Volkhov', sans-serif;

    margin-left:  auto;
    margin-right: auto;
    margin-bottom: 0;
}

/* Presentation Styling ───────────────────────────────────────── */

#presentation div
{
    display: flex;
    flex-flow: column;
    align-items: center;
}

/* Presentation Styling End ------------------------------- */

/* Ecole de Montpellier Styling ────────────────────────────────── */

#map
{
    height: 250px;
    width: 100%;
    border-radius: 2px;
    margin: 0 auto;
    
    box-shadow: 0 0 8px -3px #0F0F0F;
}

@media screen and (min-width: 470px)
{
    #map
    { width: 95%; }
}
@media screen and (min-width: 48em)
{
    #map
    { width: 49.9690%; } /** reaplying the pure-u-md-1-2 styling */
}

table
{
    font-size: .5em;
    margin: 0 auto;
}

@media screen and (min-width: 470px)
{
    table
    { font-size: .7em; }
}
@media screen and (min-width: 670px)
{
    table
    { font-size: .9em}
}
@media screen and (min-width: 48em)
{
    table
    { font-size: 1em; }
}
/* Ecole de Montpellier Styling End --------------------------------- */

/* News Styling ─────────────────────────────────────────────────── */

/* News Styling End ---------------------------------------- */

/* Footer Styling ───────────────────────────────────────────────────────── */

footer
{
    background: #2d2d2d;
    background: linear-gradient(to top, #0F0F0F, #1C1C1C);
    color: #F1F1F1;

    font-size: .7em;
}

#nous-contacter
{
    display: flex;
}

#nous-contacter > div
{
    height: 100%;
    width: auto;
    margin-left: 6px; 
}
@media screen and (min-width: 48em){

    .hide-if-big
    {
        display: none;
    }

    footer
    {
        font-size: .9em;
    }
    footer span
    {
        margin-left: 10px;
    }
}
/* Footer Styling End ----------------------------------------------- */

@media screen and (min-width: 35.5em){} /**sm 568px*/
@media screen and (min-width: 48em){} /**md 768*/
@media screen and (min-width: 64em){} /**lg 1024*/
@media screen and (min-width: 80em){} /**xl 1280*/